/*
* File: about.component.scss
* Author: Kovács Dorina
* Copyright: 2023, Kovács Dorina
* Group: Szoft II/N
* Date: 2023-02-05
* Github: https://github.com/Kdorina/
* Licenc: GNU GPL
*/
.myCard{
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, #e6f3ff, #dfffd1);
    border: none;
}
.myCard:hover{
    transform: translateY(-1px);
    background: linear-gradient(45deg, #d0e8ff, #e0ffba);
    box-shadow: 0px 0px 10px #0000003e;
}